.navigator {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-left: 40px;
}

.navigator div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 3rem;
  font-size: small;
}